@use '../abstracts' as a;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a, a:hover, a:active {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
}

body {
   font-size: 16px; 
   font-family: a.$abz;
   font-weight: a.$regular;
   line-height: normal;
   width: 90%;
   margin: 0 auto;
}

img {
    width:100%;
    height: 100%;
}

p {
    opacity: 0.65;
}