@use '../utilities';
@use '../abstracts' as a;


.about-us {

    &__title {
        width: 400px;
        font-size: 2.2rem;
        line-height: 1.4;
        margin-bottom: 60px;
    }

    &__carousel {
        display: flex;
        gap: 10px;
        height: 600px;
        margin-bottom: 30px;
    }

    &__images {
        flex: 1 auto;
    }

    &__paragraph {
        max-width: 620px;
        text-align: left;
        font-size: 1.05rem;
        margin-bottom: 120px;
    }
}