@use '../abstracts/index' as a;
@use '../components' as c;



.header {
    padding-top: 2.2em;

    &__container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        height: 35px;

    }

    &__logo {
        margin: 0 auto;
        color: a.$primary-color;
        font-family: a.$bruno;
        width: 205px;
        font-size: 1.55rem;
        text-transform: uppercase;    
    }

    &__btn {
        @include c.btn; 
            position: absolute;
            top: 0;
            right: 0;
    }
}

.infinity-logo {
    display: inline-block;
    width: 60px;

    > img {
        width: 100%;
    }
}